.background_color{
    background-color: rgba(126, 7, 7, 0.644);
    border: 10px solid rgb(110, 52, 52);
    margin: 10PX;
    border-radius: 30px;
}
.line{
    color:rgb(110, 52, 52);
    text-decoration: underline;    
}
.buttion{
    background-color:rgb(110, 52, 52);
    border:none;
}